<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">appId</span>
            <input ng-model="apiTemp" type="text" class="form-control">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">开始</span>
            <input ng-model="fromDate" type="datetime-local" class="form-control">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">结束</span>
            <input ng-model="toDate" type="datetime-local" class="form-control">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br/>

<tags model="foo">
</tags>
<div class="row">
    <div class="col-lg-12">
        <tags-input ng-model="tags" placehoder="add a tag=value pair">
            <auto-complete source="loadTags($query)" min-length="2"></auto-complete>
        </tags-input>
        <!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br/>
<div class="row">
    <div class="col-lg-5">
        <div class="input-group">
            <span class="label label-default">日志级别</span>
            <div class="btn-group" ng-repeat="level in LevelArray">
                <input type="checkbox" ng-model="level.state"> {{level.name}}
            </div>
        </div><!-- /input-group -->
    </div>

    <div class="col-lg-6">
        <div class="input-group">
            <span class="label label-default">日志类型</span>
            <div class="btn-group" ng-repeat="type in TypeArray">
                <input type="radio" name="options" ng-model="logType.index" ng-value="{{$index}}"> {{type}}
            </div>
        </div><!-- /input-group -->
    </div>

    <div class="col-lg-1">
        <button type="button" class="btn btn-primary" ng-click="logSeach()">Start</button>
    </div>
</div>
<br/>

<div class="row" infinite-scroll="addMoreItems()">
    <div class="col-md-6" ng-repeat="uldata in showData.data">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <span class="badge" data-toggle="tooltip" data-placement="top" title="日志级别">{{uldata.logLevel}}</span>
                        <span class="badge" data-toggle="tooltip" data-placement="top" title="日志类型">{{uldata.logType}}</span>
                        <span class="badge" data-toggle="tooltip" data-placement="top" title="Time">
                            {{uldata.message.StartTime}}</span>
                        <span class="badge"  data-toggle="tooltip" data-placement="top" title="hostIp">
                            {{uldata.hostIP}}</span>

                        <span class="label label-{{tag.info}}" style="display:inline-block" data-toggle="tooltip" data-placement="top" title="{{tag.key}}" ng-repeat="tag in uldata.attributes">
                            {{tag.value}}</span>
                        <span class="label label-primary" data-toggle="tooltip" data-placement="top" title="appId">
                            {{uldata.appId}}</span>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-xs btn-default" ng-click="uldata.showFlag = showMessage(uldata.showFlag,$index)">
                            <span class="glyphicon glyphicon-{{uldata.flagTag}}-sign"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body animate-show" ng-show="uldata.showFlag">
                <pre>{{uldata.message|json}}</pre>
            </div>

        </div>
    </div>
</div>
