<div id="top" class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">appId</span>
            <input ng-model="apiTemp" type="text" class="form-control">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <div class="col-lg-4">
        <div class="dropdown">
            <a class="dropdown-toggle" id="startDropdown" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <span class="input-group-addon">开始</span>

                    <input type="text" class="form-control" data-ng-model="selctTime.fromDate">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="selctTime.fromDate"
                                data-datetimepicker-config="{ dropdownSelector: '#startDropdown' }"
                                on-set-time="setSameEnd"/>
            </ul>
        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4">
        <div class="dropdown">
            <a class="dropdown-toggle" id="endDropdown" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <span class="input-group-addon">结束</span>
                    <input type="text" class="form-control" data-ng-model="selctTime.toDate">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="selctTime.toDate" data-datetimepicker-config="{ dropdownSelector: '#endDropdown' }"/>
            </ul>
        </div>
    </div><!-- /input-group -->
    <div class="col-md-1">
        <button type="button" class="btn btn-xs btn-default" ng-click="setDateTimeToNow()">
            <span class="glyphicon glyphicon-time"></span>
        </button>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-lg-12">
        <tags-input ng-model="tags" placehoder="add a tag=value pair">
            <auto-complete source="loadTags($query)" min-length="2"></auto-complete>
        </tags-input>
    </div><!-- /.col-lg-6 -->
</div>
<br/>

<div class="row">
    <div class="col-lg-5">
        <div class="input-group">
            <span class="label label-default">日志级别</span>
            <div class="btn-group" ng-repeat="level in LevelArray">
                <input type="checkbox" ng-model="level.state"> {{level.name}}
            </div>
        </div><!-- /input-group -->
    </div>

    <div class="col-lg-6">
        <div class="input-group">
            <span class="label label-default">日志类型</span>
            <div class="btn-group" ng-repeat="type in TypeArray">
                <input type="radio" name="options" ng-model="logType.index" ng-value="{{$index}}"> {{type}}
            </div>
        </div><!-- /input-group -->
    </div>

    <div class="col-lg-1">
        <button type="button" class="btn btn-primary" ng-click="logSeach()">Start</button>
    </div>
</div>
<br/>

<div class="row" infinite-scroll="addMoreItems()" infinite-scroll-disabled="true && {{scrollCheckFlag}}">
    <div class="col-md-6" ng-repeat="uldata in showData.data | hostIpFilter:ipFilter">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <span class="badge" data-toggle="tooltip" data-placement="top" title="日志级别">{{uldata.logLevel}}</span>
                            <span class="badge" data-toggle="tooltip" data-placement="top" title="日志类型">{{uldata.logType}}</span>
                            <span class="badge" data-toggle="tooltip" data-placement="top" title="Time">
                                {{uldata.timestamp | date:'yyyy/MM/dd hh:mm:ss'}}</span>
                            <span class="badge"  data-toggle="tooltip" data-placement="top" title="hostIp">
                                {{uldata.hostIP}}</span>
                            <span class="badge" data-toggle="tooltip" data-placement="top" title="appId">
                                {{uldata.appId}}</span>
                        </div>
                        <div class="row">
                            <span class="label label-{{tag.info}}" style="display:inline-block" data-toggle="tooltip" data-placement="top" title="{{tag.key}}" ng-repeat="tag in uldata.attributes">
                                {{tag.value}}</span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-xs btn-default" ng-click="uldata.showFlag = showMessage(uldata.showFlag,$index)">
                            <span class="glyphicon glyphicon-{{uldata.flagTag}}-sign"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body animate-show" ng-show="uldata.showFlag">
                <pre>{{uldata.message|json}}</pre>
            </div>

        </div>
    </div>
</div>


<footer class="navbar navbar-fixed-bottom">

    <a class="btn btn-sm btn-inline" ng-click="backToTop()">返回顶部</a>
    <div class="container">
        <ul class="list-inline">
            <li  ng-repeat="pdata in tdata">
                <div class="progress">
                    <div class="progress-bar progress-bar-{{pdata.state}}"
                         style="width: {{pdata.progress}}%">
                        <a class="btn btn-sm" ng-click="filterEFire(pdata.ip)">
                            hostIp: {{pdata.ip}}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div> <!-- /container -->
</footer>
